/*
color used:
primary color (black): #000000;
secondary color (green): #1A5C3C;
secondary color (red):  #630505;
text color (white): #FFFFFF;
*/
* {
  box-sizing: border-box;
}

header {
  background-color: #1A5C3C;
  text-align: center;
  padding-top: 15px;
  padding-right: 15px;
  padding-bottom: 10px;
  padding-left: 15px;
  border-bottom: 3px solid #630505;
  box-shadow: 0px 7px 6px 0px rgba(49, 50, 50, 0.63);
  position: fixed;
  width: 100%;
}

main {
  padding-top: 190px;
}

body {
  background-color: #000000;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.6;
  color: #FFFFFF;
}

footer {
  text-align: center;
  border-top: 3px solid #630505;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

picture {
  display: block;
  margin: auto 10px;
}

h1, h2, h3, h4 {
  line-height: 1.4;
}

h1 {
  font-size: 1.8em;
  font-weight: 700;
}

h2 {
  font-size: 1.5em;
  font-weight: 500;
  text-align: center;
}

h3 {
  font-size: 1.25em;
  font-weight: 400;
}

h4 {
  font-size: 1em;
  font-weight: 400;
}

a {
  color: #1C98FD;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #952096;
  text-decoration: underline;
}

a:active {
  color: #952096;
}

.button {
  display: inline-block;
  background-color: #1A5C3C;
  color: #FFFFFF;
  font-weight: 400;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #630505;
  transition: 0.5s opacity;
}

.button:hover {
  opacity: 0.8;
}

.button:active {
  background-color: #1A5C3C;
  color: #FFFFFF;
}

.button.contact {
  background-color: transparent;
  color: #FFFFFF;
  text-transform: uppercase;
  border: 2px solid #FFFFFF;
}

.button.contact:hover {
  background-color: #000000;
  color: #FFFFFF;
}

.button.contact:active {
  background-color: #FFFFFF;
  color: #000000;
}

/* Layout styling */
.container {
  padding: 0 15px;
}

.row {
  margin: 25px 0;
}

#work .row {
  padding-bottom: 25px;
  border-bottom: 3px;
  solid: #630505;
}

#hero {
  background-color: #1A5C3C;
  text-align: center;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
}

#hero span {
  display: block;
}

nav>ul {
  list-style-type: none;
  padding: 0;
  width: 100%;
}

nav>ul>li {
  display: inline-block;
}

nav>ul>li>a {
  padding: 0 10px;
  text-transform: uppercase;
  font-weight: 700;
  color: #1C98FD;
}

.berlin-illustration {
  width: 100%
  max-width: 100%
  height: auto;
}

@keyframes color-change {
  0% {fill: #edc655;}
  50% {fill: #fcffad;}
  100% {fill: #f76414;}
}

.sun {
  animation: 4s color-change infinite alternate linear;
}

@keyframes cloud-move {
  from {transform: translate(0,50px);}
  to {transform: translate(200px,50px);}
}

.cloud-front {
  animation: 30s cloud-move infinite alternate linear;
}

@keyframes cloud-move-reverse {
  from {transform: translate(446px,48px);}
  to {transform: translate(100px,48px);}
}

.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}

@media only screen and (min-width: 640px) {
  header {
    text-align: unset;
    padding: 20px 0 13px;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }

  main {
    padding-top: 99px;
  }

  body {
    font-size: 18px;
  }

  .col-md-6 {
    width: 50%;
  }

  #about-page h3 {
    margin-top: 0;
  }
}

@media only screen and (min-width: 1024px) {
  header {
    text-align: unset;
    padding: 20px 0 13px;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }

  main {
    padding-top: 99px;
  }

  body {
    font-size: 25px;
  }

  .col-lg-7 {
    width: 60%;
  }

  .col-lg-5 {
    width: 40%;
  }

  #about-page h3 {
    margin-top: 0;
  }

  .container {
    max-width: 1200;
    margin-left: auto;
    margin-right: auto;
  }
}

[class*="col-"] {
  float: left;
  padding: 10px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}
